Package: com.conradkramer.btnotificationenabler
Name: BTNotificationEnabler
Depends: firmware (>= 6.0), mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Sends all notifications over bluetooth
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Conrad Kramer
Section: Tweaks
dev: conradkramer
Tag: purpose::extension
