Package: com.conradkramer.moreinterestingmap
Depends: firmware (>= 6.0), mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Conrad Kramer <support@kramerapps.com>
Section: Tweaks
Description: Sends all notifications over MAP
Name: BTNotificationEnabler
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=btnotificationenablerDp
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=btnotificationenablerDp
Sponsor: thebigboss.org <http://thebigboss.org>
dev: conradkramer
Tag: purpose::extension
